
@import "~bootstrap/scss/functions";

// modify variables
$primary: #3948b4;
$secondary: #e4e4e4;
$info: #c18205;
$success: #0566c1;
// $navbar-toggler-padding-y: 0;
// $navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-focus-width: 0;
$dropdown-bg: rgba(255, 255, 255, 0.744);
$modal-content-bg: #f8f9fa;

@import "./helpers/variables";

// modify maps
$font-sizes: map-merge(
  $font-sizes,
  (
    7: $font-size-base * 0.8,
    8: $font-size-base * 0.7,
  )
);
$spacers: map-merge(
  $spacers,
  (
    6: $spacer * 4.5,
    7: $spacer * 6,
  )
);

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// modify utilities
$utilities: map-merge(
  $utilities, (
    "border": map-merge(
      map-get($utilities, "border"),
      ( responsive: true ),
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            "2px": 2px,
            "28px": 28px,
            "36px": 36px,
            "45px": 45px,
            "60px": 60px,
            "90px": 90px,
            "135px": 135px,
            "150px": 150px,
            "250px": 250px,
            "394px": 394px,
          )
        ),
      ),
    ),
    "height": map-merge(
      map-get($utilities, "height"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            "2px": 2px,
            "28px": 28px,
            "36px": 36px,
            "45px": 45px,
            "60px": 60px,
            "90px": 90px,
            "135px": 135px,
            "150px": 150px,
            "394px": 394px,
            "60": 60%,
          )
        ),
      ),
    ),
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (
            "394px": 394px,
          )
        ),
      ),
    ),
    "max-height": map-merge(
      map-get($utilities, "max-height"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "max-height"), "values"),
          (
            "394px": 394px,
          )
        ),
      ),
    ),
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
            "6px": 6px,
            "12px": 12px,
            "20px": 20px,
          )
        ),
      ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            "primary-light": #95A6FA, 
            "green": #096060,
            "green-light": #169292,
            "red": #6F0303,
            "red-light": #D23E1D,
          )
        ),
      ),
    )
  )
);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/offcanvas";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";



// @import "~bootstrap/scss/bootstrap"